body {
    background-color: black;
}

.subtitle {
    font-style: italic;
}

.margin {
    margin-top: 2%;
}

.wrapper-login {
    display: grid;
    margin-top: 5%;
    justify-items: center;
    color: white;
}

.wrapper-match {
    display: grid;
    margin-top: 5%;
    justify-items: center;
    color: white;
}